# App
# The URL where your Hono backend is running
API_URL=http://localhost:3000/api/v1

# Supabase (for client-side auth)
VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_ANON_KEY=your-anon-key


CREATE TABLE order_locations (
        order_id INT PRIMARY KEY,
        latitude DECIMAL(10, 8),
        longitude DECIMAL(11, 8),
        address TEXT,
        FOREIGN KEY (order_id) REFERENCES orders(order_id)
    );